{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4">Welcome to My Website</h1>
            <p>This is the homepage of my Django website. Here you'll find information about our products and services.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Featured Products</h5>
                    <p class="card-text">Check out our latest products!</p>
                    <a href="#" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Services</h5>
                    <p class="card-text">Learn more about the services we offer.</p>
                    <a href="#" class="btn btn-primary">View Services</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>About Us</h2>
            <p>We are a company that specializes in providing high-quality products and services to our customers. Our team of experts is dedicated to ensuring your satisfaction and delivering exceptional value.</p>
        </div>
    </div>
</div>
{% endblock %}